[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
featexp = "*"
boto3 = "*"
moto = "*"
sensible = "*"

[requires]
python_version = "3.6"
